@using PassTheStory.Shared.ViewModels
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@model PassTheStory.Shared.ViewModels.StoryViewModel
@{
    ViewBag.Title = "View Story";
}

<h2>
    @Html.DisplayFor(model => model.StoryName)
</h2>
<br />
<div>
    @foreach (StoryPartViewModel s in Model.Parts.OrderBy(sp => sp.CreatedDateTime))
    {
        <div class="row">
            <div class="col-8">
                <p>
                    @Html.DisplayFor(modelItem => s.PartText)
                </p>
            </div>
            <div class="col-2">
                <p>
                    @Html.DisplayFor(modelItem => s.Author)
                </p>
            </div>
            <div class="col-2">
                <p>
                    @Html.DisplayFor(modelItem => s.CreatedDateTime)
                </p>
            </div>
        </div>
        }
    <br />
    <div class="row">
        <div class="col-8 text-center">
            @if (Model.IsFinished == true)
            {
                <h3> THE END </h3>
            }
            @if (Model.IsFinished == false)
            {
                if (Model.NextAuthor == System.Web.HttpContext.Current.GetOwinContext()
                    .GetUserManager<ApplicationUserManager>()
                    .FindById(System.Web.HttpContext.Current.User.Identity.GetUserId()).UserName)
                {
                    <h3> TO BE CONTINUED...<a href="@Url.Action("AddPart", "Story", new { story = Request.Url.PathAndQuery.ToString().Substring(Request.Url.PathAndQuery.ToString().LastIndexOf("/") + 1)})"> BY YOU!</a></h3>
                }
                if (Model.NextAuthor != System.Web.HttpContext.Current.GetOwinContext()
                    .GetUserManager<ApplicationUserManager>()
                    .FindById(System.Web.HttpContext.Current.User.Identity.GetUserId()).UserName)
                {
                    <h3> TO BE CONTINUED...</h3>
                }
            }
        </div>
    </div>
</div>

