@using PassTheStory.Shared.ViewModels
@model PassTheStory.Shared.ViewModels.StoryViewModel
@{
    ViewBag.Title = "View Story";
}

<h2>
    @Html.DisplayFor(model => model.StoryName)
</h2>
<br />
<div>
    @foreach (StoryPartViewModel s in Model.Parts.OrderBy(sp => sp.CreatedDateTime))
    {
        <div class="row">
            <div class="col-8">
                <p>
                    @Html.DisplayFor(modelItem => s.PartText)
                </p>
            </div>
            <div class="col-2">
                <p>
                    @Html.DisplayFor(modelItem => s.Author)
                </p>
            </div>
            <div class="col-2">
                <p>
                    @Html.DisplayFor(modelItem => s.CreatedDateTime)
                </p>
            </div>
        </div>
    }
    <br />
    <div class="row">
        <div class="col-8 text-center">
            @if (Model.IsFinished == true)
            {
                <h3> THE END </h3>
            }
            @if (Model.IsFinished == false)
            {
                <h3> TO BE CONTINUED...</h3>
            }
        </div>
    </div>
</div>

@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@*@if (Model.NextAuthor == System.Web.HttpContext.Current.GetOwinContext()
        .GetUserManager<ApplicationUserManager>()
        .FindById(System.Web.HttpContext.Current.User.Identity.GetUserId()).UserName)
    {
        @RenderPage("AddPartPartial.cshtml")
    }*@

