@model PassTheStory.Shared.ViewModels.StoryViewModel

@{
    ViewBag.Title = "View Story";
}

<h2>
    @Html.DisplayFor(model => model.StoryName)
</h2>
<div class="container">
    @using PassTheStory.Shared.ViewModels;
    @foreach (StoryPartViewModel p in Model.Parts)
    {
        <div class="row">
            <div class="col-1">
                @Html.Display(p.CreatedDateTime.ToString("g"))
            </div>
            <div class="col-1">
                @Html.Display(p.Author);
            </div>
            <div class="col-10">
                @Html.Display(p.PartText);
            </div>
        </div>
    }
        <div class="row">
            <div class="text-center">
                @if (Model.IsFinished == true)
                {
                    <h3>THE END</h3>
                }
                @if (Model.IsFinished == false)
                {
                    <h3>TO BE CONTINUED...</h3>
                }
            </div>
        </div>
        @using Microsoft.AspNet.Identity;
        @using Microsoft.AspNet.Identity.Owin;
        @if (Model.NextAuthor == System.Web.HttpContext.Current.GetOwinContext()
            .GetUserManager<ApplicationUserManager>()
            .FindById(System.Web.HttpContext.Current.User.Identity.GetUserId()).UserName)
        {
            @RenderPage("AddPartPartial.cshtml")
        }
    </div>
